<br>

<div class="container">
    <div class="col-lg-8 col-md-offset-1"><p>The main window of the trading application</p></div>
</div>
<div class="container">
    <div class="col-lg-8 col-md-offset-1">
        <img class="img-rounded" src="img/FakeScreenShot1.png" style="height:auto; width:auto; max-width:1000px; max-height:500px;"/>
    </div>
</div>

<div class="container">
    <div class="col-lg-8 col-md-offset-1"><hr></div>
</div>

<div class="container">
    <div class="col-lg-8 col-md-offset-1"><p>Another part of the application<p></p></div>
</div>
<div class="container">
    <div class="col-lg-8 col-md-offset-1">
        <img class="img-rounded" src="img/FakeScreenShot1.png" style="height:auto; width:auto; max-width:1000px; max-height:500px;"/>
    </div>
</div>