<br>

<div class="row col-lg-11 col-md-offset-1">
    <div class="speech-bubble">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non pellentesque nibh. Praesent dapibus libero eget lacus iaculis vestibulum. Sed vel varius purus. Morbi sit amet justo porta, hendrerit sem et, aliquet odio. Sed auctor nec sapien sed egestas. Cras facilisis aliquam orci, sed interdum orci gravida commodo. In hac habitasse platea dictumst. Morbi ut iaculis felis.

        <div class="row col-lg-4 col-md-offset-8">
            <div class="masthead">Matt Something, Western Investment</div>
        </div>
    </div>
</div>

<div class="row col-lg-11 col-md-offset-1">
    <div class="speech-bubble">
        Integer nec lorem nibh. Proin diam dui, fringilla sed aliquam eu, varius vel orci. Aliquam nec lorem vel lorem porttitor convallis in sit amet est. Nam nec rutrum mauris, eget blandit purus. Maecenas tempor, ipsum et ultrices hendrerit, massa tortor vehicula tortor, vitae condimentum tellus elit et orci. Etiam sed pellentesque dolor, sed porttitor velit. Sed in tempor dui. Morbi ac mauris ut enim condimentum vehicula vel et massa. Praesent pulvinar, neque nec ultricies volutpat, massa risus aliquam libero, in feugiat lacus libero ut purus. Etiam at malesuada quam. Etiam sit amet augue dui. Vestibulum sit amet accumsan augue, eu pellentesque massa.
    </div>
</div>

<div class="row col-lg-11 col-md-offset-1">
    <div class="speech-bubble">
        In ut tellus ut eros pharetra eleifend ut ut justo. Praesent nibh lectus, congue eu tellus vel, rutrum porttitor est. Proin dictum rhoncus purus, eu dictum libero. Donec interdum et sem ut pretium. Donec mi libero, feugiat sed nulla interdum, molestie feugiat purus. Integer ut luctus tortor. Etiam nec dignissim nibh. Phasellus commodo accumsan diam, eu ullamcorper lectus. Nunc ut orci lorem.
        Curabitur pretium, urna in lacinia auctor, lorem tellus malesuada justo, in ultrices turpis erat et neque. Aenean convallis sagittis pellentesque. Nunc feugiat vel justo in consectetur. Suspendisse rhoncus mauris tortor, id faucibus nulla elementum et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer facilisis neque eu nisi gravida consequat. Praesent nec nibh dui.
    </div>
</div>
