<br><br>

<div class="container">
    <div class="row col-sm-10 col-sm-offset-1">
        <div class="speech-bubble">
            <p class="lead">TradeOMS Excel Trade allows me to flexibly automate my trading versus using canned Wall Street software that just doesn't do what I need.  By entering formulas into Excel, I can use TradeOMS to customize and execute my trading strategies.  It is a must have for the original trader.</p>
            <p class="text-right"><strong>Matt Crouse, Western Investment</strong></p>
        </div>
    </div>

    <div class="row col-sm-10 col-sm-offset-1">
        <div class="speech-bubble">
            <p class="lead">I have been using TradeOMS Excel Trade for many years. It is very flexible for various trading strategies and, at the same time, dependable software that you can rely on in ever-changing fast market.  I highly recommend to anyone who is serious about trading.</p>
            <p class="text-right"><strong>Ansu Lee, Senior Trader</strong></p>
        </div>
    </div>
</div>