<br><br>
<div class="row col-lg-11 col-md-offset-1">
    <h3>Love the power and flexibility of Excel for trade analytics?</h3>
    <h3>Imagine managing your trades directly in Excel</h3>
    <h3>Excel Trade lets you:</h3>
</div>
<div class="row col-lg-10 col-md-offset-2">
    <h4>* Execute orders in real-time using Excel formulas to determine price/quantity</h4>
    <h4>* Simplify your trading infrastructure</h4>
    <h4>* Receive real-time updates in Excel when orders are filled</h4>
    <h4>* Send orders to virtually any broker in the US</h4>
</div>
