<div class="row">
    <h3 class="col-sm-12 text-muted">Trade OMS: Excel Trade</h3>
</div>


<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-justified">
            <li><a id="why" href="#">Excel Trade</a></li>
            <li><a id="screenShots" href="#">Screen Shots</a></li>
            <li><a id="faqs" href="#">FAQs</a></li>
            <li><a id="testimonials" href="#">Testimonials</a></li>
            <li><a id="contact" href="#">Contact</a></li>
        </ul>
    </div>
</div>