<div class="container">
    <h3 class="col-md-11 text-muted">Trade OMS: Excel Trade</h3>
</div>

<div class="masthead">
    <ul class="nav nav-justified">
        <li><a id="why" href="#">Why Excel Trade</a></li>
        <li><a id="screenShots" href="#">Screen Shots</a></li>
        <li><a id="faqs" href="#">FAQs</a></li>
        <li><a id="testimonials" href="#">Testimonials</a></li>
        <li><a id="about" href="#">About</a></li>
        <li><a id="contact" href="#">Contact</a></li>
    </ul>
</div>